@keyframes roll {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
  }
  @keyframes width {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
  }