@font-face {
    font-family: 'normal';
    src: url('../assets/fonts/regular.ttf');
}
@font-face {
    font-family: 'bold';
    src: url('../assets/fonts/bold.ttf');
}
*{
    padding: 0;
    margin:0;
    font-family: normal;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    font-weight: 400;
}
svg{
    fill:white;
}
body,html{
    overflow: hidden;
}
.container,.navbar{
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar{
    margin: 1em 0 1em 0;
}
.logo_content,.buttons_nav{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.buttons_nav{
    width: fit-content;
    padding: 10px;
}
.tabs{
    width: 60%;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
.tab{
    padding: 1em 1.25rem 1em 1.25em;
}
.button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .8em 1rem .8em 1em;
    border-radius: 20px;
    border:1px solid white;
    margin-left: 10px;
}
.button svg{
    margin-right: 15px;
}
.logo_content{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}
img{
    max-width: 100%;
}
.logo img{
    max-width: 60px;
} 
.white_button{
    background-color: white;
    color: black;
}
.white_button svg{
    fill: black;
}
.shapes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    float: right;
}
.main_shape{
    transform: translate(25%,-25%) skewY(30deg);
    background-image: linear-gradient(45deg,#53f 40%,#506690 100%);
    position: absolute;
    top: -10%;
    right: 0%;
    width: 95vw;
    height: 100vh;
    border-radius: 100px;
}
 .button a{
    text-decoration: none;
    color: white;
 }
 .button.white_button a{
    color: black;
 }
 .rounded_shapes :nth-child(1){
    width: 150px;
    height: 500px;
    background-color: rgba(158, 165, 255, 0.123);
    position: absolute;
    right: 40%;
    top: -20%;
    border-radius: 100px;
    transform: rotate(30deg);
 }
 .rounded_shapes :nth-child(2){
    width: 100px;
    height: 400px;
    background-color: rgba(158, 165, 255, 0.123);
    position: absolute;
    right: 25%;
    top: -20%;
    border-radius: 100px;
    transform: rotate(30deg);
 }
 .rounded_shapes :nth-child(3){
    width: 220px;
    height: 750px;
    background-color: rgba(158, 165, 255, 0.123);
    position: absolute;
    right: 0%;
    top: -30%;
    border-radius: 100px;
    transform: rotate(30deg);
 }
 .rounded_shapes :nth-child(4){
    width: 220px;
    height: 220px;
    background-color: rgba(158, 165, 255, 0.123);
    position: absolute;
    right: 2%;
    top: 55%;
    border-radius: 10em;
    transform: rotate(30deg);
 }
 .animated_circles span:not(.cross){
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    animation: 10s infinite roll;
    border: 1px solid rgb(255, 255, 255); 
    border-style: dashed;
 }
 .animated_circles :nth-child(1){
    border-width: 4px;
    right: 30%;
    top: 35%;
 }
 .animated_circles :nth-child(2){
    right: 20%;
    top: 25%;
 }
 .cross{
    background: #fff;
    width: 3px;
    height: 20px;
    right: 10%;
    top: 25%;
    position: absolute;
 }
 .cross{
    animation: 10s infinite roll;
 }
 .cross:after {
    content: "";
    position: absolute;
    background: #fff;
    height: 3px;
    left: 50%;
    top: 50%;
    width: 20px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.dots:not(.n2){
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background-color: transparent;
    background-image: radial-gradient(rgba(0,0,0,.1) 3px,transparent 3px);
    background-size: 30px 30px;
    position: absolute;
}
.dots.n2{
    bottom: 30%;
    right: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: transparent;
    background-image: radial-gradient(rgba(0,0,0,.1) 2px,transparent 2px);
    background-size: 20px 20px;
}
.content{
    position: relative;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.banner{
    width: 80%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.col-7{
    width: 70%;
}
.col-6{
    width: 60%;
}
.col-3{
    width: 30%;
}
img.mockup_app{
    max-width: 450px;
}
.title_banner{
    color: #161c2d;
    line-height: 1.2;
    font-size: 4.5rem!important;
    font-family: bold;
}
.badge-icon{
    font-weight: 700!important;
    border-radius: 50rem!important;
    background-color: #fff!important;
    color: #2b354f!important;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
    box-shadow: 0 .125rem .25rem rgba(22,28,45,.075)!important;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.text_badge{
    width: 80%;
}
b{
    color: #53f;
    font-family: bold;
}
.badge-icon svg{
    fill: #53f;
}
.sub_title{
    font-family: bold;
    margin: 1rem 0;
    font-size: 1.25rem;
    color: #53f;
}
.text_banner{
    line-height: 1.5;
    color: #6d768b;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(22,28,45,0);
    margin: 1rem 0;font-size: 1.25rem;
    font-weight: 300;
}