@font-face {
    font-family: 'normal';
    src: url('../assets/fonts/regular.ttf');
}
@font-face {
    font-family: 'bold';
    src: url('../assets/fonts/bold.ttf');
}
*{
    padding: 0;
    margin:0;
    font-family: normal;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    font-weight: 400;
}
svg{
    fill:white;
}
body,html{
    overflow: hidden;
}
.container,.navbar{
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar{
    margin: 1em 0 1em 0;
}
.logo_content,.buttons_nav{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.buttons_nav{
    width: fit-content;
    padding: 10px;
}
.tabs{
    width: 60%;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
.tab{
    padding: 1em 1.25rem 1em 1.25em;
}
.button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .8em 1rem .8em 1em;
    border-radius: 20px;
    border:1px solid white;
    margin-left: 10px;
}
.button svg{
    margin-right: 15px;
}
.logo_content{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}
img{
    max-width: 100%;
}
.logo img{
    max-width: 75px;
} 
.white_button{
    background-color: white;
    color: black;
}
.white_button svg{
    fill: black;
}
.shapes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    float: right;
}
.main_shape{
    transform: translate(25%,-25%) skewY(30deg);
    background-image: linear-gradient(45deg,#53f 40%,#506690 100%);
    position: absolute;
    top: 0%;
    right: 0%;
    width: 90vw;
    height: 110vh;
    border-radius: 100px;
}